@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

$mainTextColor: #404040;
$mainBackgroundColor: #7a7a7a;
$selectedTextColor: #0052b4;
$buttonBackgroundColor: #0052b4;
$inputTextColor: #081627;

$mainFontFamily: 'Manrope';

$headerWeightText: 400;
$headerSizeText: 20px;
$headerLineHeightText: 20px;

$inputWeightText: 400;
$inputSizeText: 16px;
$inputLineHeightText: 22px;

$titleWeightText: 700;
$titleSizeText: 44px;
$titleLineHeightText: 53px;

$buttonWeightText: 400;
$buttonSizeText: 20px;
$buttonSizeTextHover: 21px;
$buttonLineHeightText: 20px;

$mainWeightText: 600;
$mainSizeText: 18px;
$mainLineHeightText: 20px;

$sectionMainHeadersWeightText: 700;
$sectionAdditionalHeadersWeightText: 600;
$sectionMainHeadersSizeText: 30px;
$sectionAdditionalHeadersSizeText: 22px;
$sectionHeadersHeightText: 22px;

$footerWeightText: 400;
$footerSizeText: 14px;
$footerLineHeightText: 19px;

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.textHover:hover {
    box-sizing: content-box;
    border-bottom: 1px solid $mainTextColor;
}

input {
    color: $inputTextColor;
    background-color: $mainBackgroundColor;
    font-weight: $inputWeightText;
    font-size: $inputSizeText;
    line-height: $inputLineHeightText;
    border: none;
    outline: none;
}

input::placeholder {
    color: $mainTextColor;
}

.lending {
    font-family: $mainFontFamily;
    color: $mainTextColor;
    background-color: $mainBackgroundColor;
    font-weight: $mainWeightText;
    font-size: $mainSizeText;
    line-height: $mainLineHeightText;
    cursor: default;
    height: 200vh;
}

.navigation {
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 10%;
    width: 80vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    font-weight: $headerWeightText;
    font-size: $headerSizeText;
    line-height: $headerLineHeightText;
    &__sections {
        width: 40vw;
        display: flex;
        gap: 60px;
    }
    &__searchAndButtons {
        width: 40vw;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        &__search {
            display: flex;
            align-items: center;
            border: 1px solid black;
            padding: 0px 10px;
            &__img {
                height: 19px;
                width: 20px;
            }
        }
        &__buttons {
            display: grid;
            border: 1px solid black;
            height: 40px;
            width: 140px;
            text-align: center;
            align-items: center;
            transition: 1s;
        }
        &__buttons:hover {
            background-color: #bdc0c3;
            font-weight: $buttonWeightText;
            font-size: $buttonSizeTextHover;
            line-height: $buttonLineHeightText;
        }
    }
}

.meetingBlock {
    display: flex;
    position: absolute;
    margin-top: 220px;
    margin-left: 10%;
    &__textBlock {
        display: grid;
        height: 1px;
        gap: 20px;
        &__header {
            font-weight: $titleWeightText;
            font-size: $titleSizeText;
            line-height: $titleLineHeightText;
        }
        &__button {
            display: grid;
            border: 1px solid black;
            height: 40px;
            width: 200px;
            text-align: center;
            align-items: center;
            transition: 1s;
            font-weight: $buttonWeightText;
            font-size: $buttonSizeText;
        }
        &__button:hover {
            background-color: #bdc0c3;
            font-size: $buttonSizeTextHover;
            line-height: $buttonLineHeightText;
        }
    }
    &__image {
        margin-top: -40px;
        pointer-events: none;
    }
}

.sections {
    display: grid;
    position: absolute;
    margin-top: 1000px;
    margin-left: 10%;
    width: 80vw;
    text-align: center;
    font-weight: $sectionMainHeadersWeightText;
    font-size: $sectionMainHeadersSizeText;
    line-height: $sectionHeadersHeightText;
    &__title {
        align-items: center;
        height: 50px;
    }
    &__categories {
        display: flex;
        justify-content: space-around;
        &__block {
            background-color: #949494;
            border-radius: 15px;
            height: 150px;
            width: 220px;
            display: grid;
            transition: 1s;
            &__title {
                text-align: left;
                margin: 10px;
                font-weight: $sectionAdditionalHeadersWeightText;
                font-size: $sectionAdditionalHeadersSizeText;
            }
            &__content {
                display: flex;
                justify-content: space-around;
                &__quantity {
                    display: flex;
                    align-items: center;
                }
                &__img {
                    &__size {
                        height: 79px;
                        width: 90px;
                    }
                }
            }
        }
        &__block:hover {
            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 40%));
        }
    }
}
