@import url("https://fonts.googleapis.com/css2?family=Monoton&=Manrope:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  cursor: default;
}

html {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.linkImg {
  display: flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.link:hover {
  cursor: pointer;
}

.linkText {
  color: #0052b4;
  font-weight: 400;
  font-size: 2rem;
}

.linkText:hover {
  border-bottom: 2px solid #0052b4;
  box-sizing: border-box;
}

.anim1 {
  animation: flashing 3s infinite;
}

.anim2 {
  animation: flashingTwo 3s infinite;
}

.anim3 {
  animation: flashingThree 3s infinite;
}

.lending {
  background-color: #000;
  color: #999;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.3rem;
}
.lending__header {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100vh;
}
.lending__header__photo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  z-index: 1;
  pointer-events: none;
}
.lending__header__photo__size {
  height: 30rem;
  width: 30rem;
}
.lending__header__text {
  display: flex;
  padding-top: 50vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}
.lending__header__text__header {
  z-index: 2;
  font-weight: 600;
  color: white;
  padding-top: 25vh;
  height: 25vh;
}
.lending__header__text__header__title {
  font-weight: 600;
  font-size: 4rem;
}
.lending__header__text__header__subtitle {
  font-weight: 600;
  font-size: 2rem;
}
.lending__header__text__date {
  z-index: 2;
  display: flex;
  align-items: center;
  text-align: end;
  height: 25vh;
  padding-top: 20vh;
  font-weight: 700;
  font-size: 10rem;
  color: #0052b4;
}
.lending__main {
  margin-top: 20vh;
  height: 100%;
}
.lending__main__textBlok {
  width: 80vw;
  text-align: end;
  display: grid;
  gap: 15px;
  color: white;
  margin-left: auto;
}
.lending__main__textBlok__title {
  font-size: 3.5rem;
}
.lending__main__textBlok__subtitle {
  font-size: 2rem;
}
.lending__main__textBlok__text {
  color: #999;
}
.lending__main__gridBlok {
  margin-top: 10vh;
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 350px);
  grid-template-rows: repeat(7, 50px);
}
.lending__main__gridBlok__block1 {
  grid-row: span 4;
}
.lending__main__gridBlok__block2 {
  grid-row: span 2;
}
.lending__main__gridBlok__block3 {
  grid-row: span 3;
}
.lending__main__gridBlok__block4 {
  grid-row: span 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.lending__main__gridBlok__block5 {
  grid-row: span 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.lending__main__gridBlok__block6 {
  grid-row: span 4;
}
.lending__main__gridBlok__block7 {
  grid-row: span 2;
}
.lending__main__gridBlok__imgSize {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.lending__main__gridBlok__subtitle {
  color: #0052b4;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.lending__main__gridBlok__text {
  margin-left: 1rem;
  margin-right: 1rem;
}
.lending__teaser {
  height: 80vh;
  margin-top: 15vh;
}
.lending__teaser__photo {
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 1;
  height: 80vh;
  width: 30rem;
  overflow: hidden;
}
.lending__teaser__photo__imgSize {
  pointer-events: none;
}
.lending__teaser__textBlock {
  display: grid;
  gap: 10px;
  width: 50vw;
  padding-top: 25vh;
  padding-left: 40vw;
}
.lending__teaser__textBlock__title {
  font-weight: 600;
  font-size: 3.5rem;
  color: white;
  z-index: 5;
}
.lending__teaser__textBlock__subtitle {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  z-index: 5;
}
.lending__teaser__textBlock__text {
  z-index: 5;
}
.lending__footer {
  margin-top: 10vh;
  padding-bottom: 10px;
}
.lending__footer__title {
  font-weight: 600;
  font-size: 3.5rem;
  color: white;
}
.lending__footer__text {
  font-size: 1.1rem;
}
.lending__footer__text__telegram:hover {
  border-bottom: 1px solid #999;
  box-sizing: border-box;
}

.error {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}
.error__text {
  font-size: 6rem;
  font-family: "Monoton", cursive;
}
.error__text__sh1 {
  margin: 0.1rem;
  text-shadow: 0 0px 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0px 17px lightseagreen;
  color: white;
}
.error__text__notLit {
  text-shadow: none;
  color: darkgray;
}
.error__text__sh2 {
  text-shadow: 0px 0px 50px deeppink;
  color: red;
}
.error__text__zero {
  text-shadow: none;
  color: darkred;
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
  .lending__teaser__photo {
    justify-content: end;
    width: 50vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 567px) {
  html {
    font-size: 8px;
  }
  .lending__header {
    height: 80vh;
  }
  .lending__header__text {
    grid-template-columns: repeat(1, 350px);
    padding-top: 25vh;
    display: grid;
  }
  .lending__header__text__header {
    display: grid;
    height: 5vh;
    justify-content: center;
  }
  .lending__header__text__header__subtitle {
    display: grid;
    justify-content: center;
    font-weight: 600;
    font-size: 2rem;
  }
  .lending__header__text__date {
    padding-top: 0;
    height: 10vh;
    justify-content: center;
  }
  .lending__teaser__photo {
    justify-content: end;
    width: 70vw;
  }
}
@keyframes flashing {
  0% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  24% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  25% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  44% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  45% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
}
@keyframes flashingTwo {
  0% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  14% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  15% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  16% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  17% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  18% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  19% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  62% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  63% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  64% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  65% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
  66% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkgray;
  }
  67% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 17px lightseagreen, -17px 0 17px lightseagreen, 17px 0 17px lightseagreen;
    color: white;
  }
}
@keyframes flashingThree {
  0% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 50px deeppink, 0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  34% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 50px deeppink, -17px 0 17px0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  35% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkred;
  }
  36% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 50px deeppink, 0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  37% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkred;
  }
  38% {
    font-family: "Monoton", cursive;
    text-shadow: 0 0 50px deeppink, 0 0 50px deeppink, 0 0 50px deeppink;
    color: red;
  }
  39% {
    font-family: "Monoton", cursive;
    text-shadow: none;
    color: darkred;
  }
}/*# sourceMappingURL=globals.css.map */