@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

$mainTextColor: #999;
$titleTextColor: white;
$mainBackgroundColor: #000;
$selectedTextColor: #0052b4;
$buttonBackgroundColor: #0052b4;
$buttonHoverColor: #bdc0c3;
$borderColor: #081627;

$mainFontFamily: 'Manrope';

$headerWeightText: 400;
$headerSizeText: 1.4rem;

$inputWeightText: 400;
$inputSizeText: 1rem;

$dateWeightText: 700;
$dateSizeText: 10rem;

$buttonWeightText: 400;
$buttonSizeText: 1.4rem;
$buttonSizeTextHover: 1.5rem;

$mainWeightText: 600;
$mainSizeText: 1.2rem;

$sectionMainHeadersWeightText: 700;
$sectionAdditionalHeadersWeightText: 600;
$sectionMainHeadersSizeText: 1.8rem;
$sectionAdditionalHeadersSizeText: 1.5rem;

$footerWeightText: 400;
$footerSizeText: 0.8rem;

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.textHover:hover {
    box-sizing: border-box;
    border-bottom: 1px solid $borderColor;
}

.lending {
    color: $mainTextColor;
    background-color: $mainBackgroundColor;
    padding-left: 5vw;
    padding-right: 5vw;
    &__header {
        display: flex;
        justify-content: center;
        height: 100vh;
        &__photo {
            position: absolute;
            display: flex;
            margin-top: 5vh;
            z-index: 1;
            pointer-events: none;
            &__size {
                height: 80vh;
                width: 40vw;
            }
        }
        &__text {
            display: grid;
            padding-top: 50vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50vh;
            gap: 20px;
            &__header {
                z-index: 2;
                font-weight: $mainWeightText;
                color: $titleTextColor;
                padding-top: 20vh;
                &__title {
                    font-size: 4rem;
                }
                &__subtitle {
                    font-size: 2rem;
                }
            }
            &__date {
                z-index: 2;
                display: grid;
                align-items: center;
                text-align: end;
                padding-top: 20vh;
                font-weight: $dateWeightText;
                font-size: $dateSizeText;
                color: $selectedTextColor;
            }
        }
    }
    &__main {
        margin-top: 20vh;
        height: 160vh;
        &__textBlok {
            width: 80vw;
            text-align: end;
            display: grid;
            gap: 15px;
            color: $titleTextColor;
            margin-left: auto;
            &__title {
                font-size: 3.5rem;
            }
            &__subtitle {
                font-size: 2rem;
            }
            &__text {
                color: $mainTextColor;
                font-size: 1.5rem;
            }
        }
        &__gridBlok {
            margin-top: 10vh;
            display: grid;
            gap: 20px;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 350px);
            grid-template-rows: repeat(7, 50px);
            grid-auto-flow: row dense;
            &__block1 {
                grid-row: span 4;
            }
            &__block2 {
                grid-row: span 2;
            }
            &__block3 {
                grid-row: span 3;
            }
            &__block4 {
                grid-row: span 4;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
            }
            &__block5 {
                grid-row: span 5;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
            }
            &__block6 {
                grid-row: span 4;
            }
            &__block7 {
                grid-row: span 2;
            }
            &__imgSize {
                height: 100%;
                width: 100%;
                pointer-events: none;
            }
            &__title {
                color: $selectedTextColor;
                font-size: 2rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &__text {
                font-size: 1.3rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 567px) {
    html {
        font-size: 8px;
    }
}
