@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

$mainTextColor: #999;
$headerTextColor: white;
$mainBackgroundColor: #000;
$selectedTextColor: #0052b4;

$mainFontFamily: 'Manrope';

$mainWeightText: 600;
$mainSizeText: 1.3rem;

$headerWeight: 600;
$headerSize: 1.4rem;

$titleWeight: 600;
$titleSize: 4rem;
$titleSizeAdditionally: 3.5rem;

$subtitleWeight: 600;
$subtitleSize: 2rem;
$subtitleSizeAdditionally: 2rem;

$dateWeight: 700;
$dateSize: 10rem;

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

.lending {
    background-color: $mainBackgroundColor;
    color: $mainTextColor;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: $mainSizeText;
    &__header {
        display: flex;
        justify-content: center;
        height: 100vh;
        &__photo {
            position: absolute;
            display: flex;
            margin-top: 5vh;
            z-index: 1;
            pointer-events: none;
            &__size {
                height: 80vh;
                width: 40vw;
            }
        }
        &__text {
            display: grid;
            padding-top: 50vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50vh;
            gap: 20px;
            &__header {
                z-index: 2;
                font-weight: $headerWeight;
                color: $headerTextColor;
                padding-top: 20vh;
                &__title {
                    font-weight: $titleWeight;
                    font-size: $titleSize;
                }
                &__subtitle {
                    font-weight: $subtitleWeight;
                    font-size: $subtitleSize;
                }
            }
            &__date {
                z-index: 2;
                display: grid;
                align-items: center;
                text-align: end;
                padding-top: 20vh;
                font-weight: $dateWeight;
                font-size: $dateSize;
                color: $selectedTextColor;
            }
        }
    }
    &__main {
        margin-top: 20vh;
        height: 100%;
        &__textBlok {
            width: 80vw;
            text-align: end;
            display: grid;
            gap: 15px;
            color: $headerTextColor;
            margin-left: auto;
            &__title {
                font-size: $titleSizeAdditionally;
            }
            &__subtitle {
                font-size: $subtitleSizeAdditionally;
            }
            &__text {
                color: $mainTextColor;
            }
        }
        &__gridBlok {
            margin-top: 10vh;
            display: grid;
            gap: 20px;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 350px);
            grid-template-rows: repeat(7, 50px);
            &__block1 {
                grid-row: span 4;
            }
            &__block2 {
                grid-row: span 2;
            }
            &__block3 {
                grid-row: span 3;
            }
            &__block4 {
                grid-row: span 4;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
            }
            &__block5 {
                grid-row: span 5;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
            }
            &__block6 {
                grid-row: span 4;
            }
            &__block7 {
                grid-row: span 2;
            }
            &__imgSize {
                height: 100%;
                width: 100%;
                pointer-events: none;
            }
            &__subtitle {
                color: $selectedTextColor;
                font-size: $subtitleSizeAdditionally;
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &__text {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: 992px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 567px) {
    html {
        font-size: 8px;
    }
}
